#logo {
    width:50px;
}
body {
  background-color: #adb5bd;
  
}
#total-orders {
  background-color: #4cb4c7;
}
#orders-delivered {
  background-color: #7abecc;
}
#orders-pending {
  background-color: #7cd1c0;
}
#total-customer{
    background-color: #37b4c7;
}
#orders-OutOfDelivery{
    background-color: #93cec0;
}
.card-header{
    background-color: #005cbf;
}
.card-title{
    font-size: inherit;
}
#T-customer,#T-order,#OutOfDelivery,#pending,#delivered{
    font-size: xxx-large;
}