{% extends 'accounts/main.html' %}
{% block content %}
    {% include 'accounts/status.html' %}
    {% load static %}
    <br/>
    <div class="row">
        <div class="col-md-5">
            <h5>CUSTOMERS:</h5>
            <hr/>
            <div class="card card-body">
                <a class="btn btn-primary btn-sm btn-block" href="{% url 'create_customer' %}"> Create Customer </a>
                <table class="table table-sm">
                    <tr>
                        <th></th>
                        <th>Customer</th>
                        <th>Phone</th>
                    </tr>
                    {% for customer in customers %}
                        <tr>
                            <th><a class="btn btn-sm btn-outline-info" href="{% url 'customer' customer.id %}"><img
                                    id="icon-search-customer" src="{% static 'images/icon.png' %}" width=20px></a></th>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.phone }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-md-7">
            <h5>LAST 5 ORDERS</h5>
            <hr/>
            <div class="card card-body">
                <a class="btn btn-primary btn-sm btn-block" href=""> Create Order </a>
                {#            {% url 'create_order' order.id %}#}
                <table class="table table-sm">
                    <tr>
                        <th>Product</th>
                        <th>Date Ordered</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
                    {% for order in pg %}
                        <tr>
                            <td>{{ order.product }}</td>
                            <td>{{ order.date_created|date:"m-d-yy" }}</td>
                            <td>{{ order.status }}</td>
                            <td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
                            <td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% if pg.has_other_pages %}
                    <ul class="pagination">
                        {% if pg.has_previous %}
                            <li><a class="page-link" href="?page={{ pg.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span class="page-link">&laquo;</span></li>
                        {% endif %}
                        {% for i in pg.paginator.page_range %}
                            {% if pg.number == i %}
                                <li class="active"><span class="page-link">{{ i }} <span
                                        class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if pg.has_next %}
                            <li><a class="page-link" href="?page={{ pg.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span class="page-link">&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
    {#-------------------------------------------------------------------------#}
    {% comment %} <script>
        {% for fo in TO %}
            {% for foo in TT %}



            window.onload = function () {
                {#console.log({{ total_orders }})#}
                {#{% for foo in TT %}#}
                {#console.log({{ foo.date_created.time }})#}
                {#{% endfor %}#}


                let datas = [
                    {

                        {#x: {{ fo.customer__order__date_created|date:"m-d-y" }},#}
                        x:{{ fo.product__order__customer }},

                        {#x: 20_08_05,#}
                        y: {{ foo.date_created|date:'m-d-yy'}}
                    },
                ]


                var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    title: {
                        text: "Total Chart"
                    },
                    axisX: {
                        title: "Time"
                    },
                    axisY: {
                        title: "count",
                        suffix: "",
                        includeZero: true
                    },
                    data: [{
                        type: "line",
                        name: "CPU Utilization",
                        connectNullData: true,
                        xValueType: "text",

                        {#xValueFormatString: "YY MM hh:mm DD",#}
                        {#xValueFormatString: "m-d-y",#}
                        xValueFormatString: "#",
                        yValueFormatString: "#",


                        dataPoints: [
                            ...datas
                            {#{x: 1501052273000, y: 40.896},#}
                        ]
                    }]
                });

                chart.render();

            }
            {% endfor %}
        {% endfor %}
    </script>

    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="{% static 'js/canvasjs.js' %}"></script>
    {#    {% for foo in TT %}#}
    {#        <p>{{ foo.date_created|date:"m d Y" }}</p>#}
    {#    {% endfor %}#}
    {#    {% for foo in TO %}#}
    {#        <p>{{ foo.customer__order__date_created|date:"m d Y" }}</p>#}
    {#    {% endfor %}#}
{#    {% for foo in TO %}#}
{#        {{ foo.product__order__customer }},#}
{#    {% endfor %}#}
 {% endcomment %}



{% endblock content %}
