{% extends 'accounts/main.html' %} {% load static %} {% block content %}

    <br/>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                {% if item.product %}
                    <p>Are you sure you want to delete <strong class="text text-capitalize"
                                                               style="color: brown;">"{{ item }}"</strong>?</p>
                    <form action="{% url 'delete_order' item.id %}" method="POST">
                        {% csrf_token %}
                        <a class="btn btn-sm btn-warning" href="{% url 'home' %}">Cancel</a>
                        <input class="btn btn-sm btn-danger" type="submit" name="Confirm"/>
                    </form>
                {% elif item.name %}
                    <p>Are you sure you want to delete <strong class="text text-capitalize"
                                                               style="color: brown;">"{{ item }}"</strong>?</p>
                    <form action="{% url 'delete_product' item.id %}" method="POST">
                        {% csrf_token %}
                        <a class="btn btn-sm btn-warning" href="{% url 'home' %}">Cancel</a>
                        <input class="btn btn-sm btn-danger" type="submit" name="Confirm"/>
                    </form>
                {% else %}
                    <p>Are you sure you want to delete Customer: <strong class="text text-capitalize"
                                                                         style="color: brown;">"{{ item }}"</strong>?
                    </p>
                    <form action="{% url 'delete_customer' item.id %}" method="POST">
                        {% csrf_token %}
                        <a class="btn btn-sm btn-warning" href="{% url 'home' %}">Cancel</a>
                        <input class="btn btn-sm btn-danger" type="submit" name="Confirm"/>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}