{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRM</title>
    <link
      rel="stylesheet"
      href="{% static 'css/bootsrap.min.css' %}"      
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet"  href="{% static 'css/fontawesome.css' %}">

  </head>
  <body>
    {% include 'accounts/navbar.html' %}
    <div class="container-fluid">
      {% block content %} {% endblock content %}
    </div>
  </body>
  <script
    src="{% static 'js/jquery-3.5.1.slim.min.js' %}"
    crossorigin="anonymous"
  ></script>
  <script
    src="{% static 'js/popper.min.js' %}"
    crossorigin="anonymous"
  ></script>
  <script
    src="{% static 'js/bootstrap.min.js' %}"
    crossorigin="anonymous"
  ></script>
</html>
