{% extends 'accounts/main.html' %} {% load static %} {% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6 px-3">
            <div id="form-form" class="card card-body ">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% if formset %}
                        {{ formset.management_form }}
                        {% for form in formset %}
                            {{ form }}
                            <hr/>
                        {% endfor %}
                        <input class="btn btn-primary btn-sm" type="submit" name="submit"/>
                    {% else %}
                        {{ form }}
                        <input class="btn btn-primary btn-sm" type="submit" name="submit"/>
                    {% endif %}


                </form>
            </div>
        </div>
    </div>
{% endblock content %}
