{% extends 'accounts/main.html' %} {% block content %}
    <br/>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Products</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Products</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for i in products %}
                        <tr>
                            <td>{{ i.name }}</td>
                            <td>{{ i.category }}</td>
                            <td>${{ i.price|floatformat:0 }}</td>
                            <td><a class="btn btn-sm btn-info" href="{% url 'update_product' i.id %}">Update</a>
                            <td><a class="btn btn-sm btn-danger" href="{% url 'delete_product' i.id %}">Delete</a>
                        </tr>

                        <tr>
                    {% endfor %}
                </table>
            <div class="col-md">
                 <a id="create_product" class="btn btn-secondary m-auto" href="{% url 'create_product' %}">Create Product</a>
            </div>
            </div>
        </div>
    </div>
{% endblock content %}
