<br>
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-customer">
                <div class="card-header">
                    <h5 class="card-title">Total Customer</h5>
                </div>
                <div class="card-body">
                    <h3 id="T-customer" class="card-title font-weight-bolder">{{total_customers}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title">Total Orders</h5>
                </div>
                <div class="card-body">
                    <h3 id="T-order" class="card-title font-weight-bolder">{{total_orders}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-delivered">
                <div class="card-header">
                    <h5 class="card-title">Orders: Delivered</h5>
                </div>
                <div class="card-body">
                    <h3 id="delivered" class="card-title font-weight-bolder">{{delivered}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-pending">
                <div class="card-header">
                    <h5 class="card-title">Orders: Pendings</h5>
                </div>
                <div class="card-body">
                    <h3 id="pending" class="card-title font-weight-bolder">{{pending}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-OutOfDelivery">
                <div class="card-header">
                    <h5 class="card-title">Orders: Out of Delivery</h5>
                </div>
                <div class="card-body">
                    <h3 id="OutOfDelivery" class="card-title font-weight-bolder">{{OutOfDelivery}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>